



.background-color {
  background-color: #dc3546;
}
.rounded-table {
  border-radius: 15px;
  overflow: hidden; /* للتأكد من أن الحواف الدائرية تظهر بشكل صحيح */
}

.iscompleted{
  text-align: center;
background-color: rgba(0, 255, 0, 0.514);
}
.isNotcompleted{
  text-align: center;
  background-color: #FFCA2C;
}