<div class="container my-5 ">
    <div class="row justify-content-center ">
        <div class="col-md-6 ">
            <div class="card background-color w-100">
                <div class="card-header text-center">
                    <h3>Todo List</h3>
                </div>
                <div class=" card-body">
                    <div class="mb-3">
                        <input [(ngModel)]="Text" type="text" class="form-control" id="todoInput"
                            placeholder="Add new task">
                    </div>
                    <button (click)="addTodo()" class="btn btn-warning w-100 mb-3 fs-4" id="addTaskButton">Add
                        Task</button>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <h2 class="text-center mb-5">Task List</h2>
    <table class="table table-striped table-bordered  rounded-table ">
        <thead>
            <tr class="text-center">
                <th class="background-color text-white">Index</th>
                <th class="background-color text-white">Task Name</th>
                <th class="background-color text-white">Status</th>
                <th class="background-color text-white">completed</th>
                <th class="background-color text-white">Delete</th>
            </tr>
        </thead>
        <tbody>
            @for(todo of todoList() ; track $index){


            <tr class="text-center">
                <td>{{ $index + 1 }}</td>
                <td>{{todo.title}}</td>
                @if(todo.completed) {
                <td [class]="markcompletedClass()">Completed <i class="fa-solid fa-check ps-2"></i></td>
                <td>
                    <button class="btn btn-primary btn-sm" disabled title="Todo is Completed "
                        (click)="markCompletedTask(todo._id)"><i class="fa-solid fa-check mr-5 px-4"></i></button>

                </td>

                }
                @else{
                <td [class]="markNotcompletedClass()">Not Completed <i class="fa-solid fa-hourglass-half ps-2"></i> </td>
                <td>
                    <button class="btn btn-primary btn-sm" title="Click for Completed Todo"
                        (click)="markCompletedTask(todo._id)"><i class="fa-solid fa-check mr-5 px-4"></i></button>

                </td>
                }
                <td>
                    <button class="btn btn-danger btn-sm px-4" title="Delete ." (click)="deleteTask(todo._id)"><i
                            class="fa-solid fa-trash"></i></button>

                </td>
            </tr>


            }




        </tbody>
    </table>
</div>