@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Encode+Sans+Expanded:wght@300&display=swap');

:root {
    --main-font: "Encode Sans Expanded"
}

body {
    font-weight: bolder;
    font-family: var(--main-font);
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/assets/fa-solid-900-Z3HFQTXF.woff2') format('woff2');
  }
  